// define color

$primarycolor = {
  'green': #08b5e5,
  'red': #ff0000,
  'gray': #000,
  'font': #FFFFFF
}

$secondarycolor = {
  'green': #002277,
  'red': #733520,
  'gray': #101011,
  'font': #999999
}
