// define color

$primarycolor = {
  'green': #cfa15a,
  'red': #00FF00,
  'gray': #000,
  'font': #FFFFFF,
  'add':#FF0000
}

$secondarycolor = {
  'green': #000,
  'red': #733520,
  'gray': #101011,
  'font': #999999
}
